:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(
    to right,
    hsl(199, 100%, 33%),
    hsl(199, 100%, 33%)
  );
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
}

.service {
  width: 100%;
  position: relative;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.service .videoDiv {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(48, 204, 247);
}
.service .videoDiv img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.service .videoDiv::after {
  content: "";
  position: absolute;
  background: rgba(10, 84, 107, 0.307);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  mix-blend-mode: multiply;
}
.service .secContent {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  padding: 2rem initial;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  row-gap: 2rem;
  z-index: 100;
}
.service .secContent .contactDiv {
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
}
.service .secContent .contactDiv .text small {
  font-size: 13px;
  font-weight: 400;
  color: var(--whiteColor);
}
.service .secContent .contactDiv .text h2 {
  color: var(--whiteColor);
  font-size: 1.8rem;
}
.service .secContent .contactDiv .inputDiv {
  width: 100%;
  gap: 1rem;
  flex-direction: column;
}
.service .secContent .contactDiv .inputDiv input {
  width: 100%;
  padding: 0.5rem 0.6rem;
  border-radius: 3rem;
  border: 1px solid var(--whiteColor);
  outline: none;
  background: transparent;
  color: var(--whiteColor);
}
.service .secContent .contactDiv .inputDiv input::-moz-placeholder {
  color: var(--whiteColor);
  opacity: 0.5;
}
.service .secContent .contactDiv .inputDiv input::placeholder {
  color: var(--whiteColor);
  opacity: 0.5;
}
.service .secContent .contactDiv .inputDiv .btn {
  width: 100%;
  justify-content: center;
  color: var(--whiteColor);
  font-weight: 500;
  gap: 0.5rem;
}
.service .secContent .contactDiv .inputDiv .btn .icon {
  font-size: 18px;
}
.service .secContent .serviceCard {
  position: relative;
  padding: 4rem 4rem 4rem;
  gap: 2rem;
  border-radius: 1rem;
  background: var(--bodyColor);
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
.service .secContent .serviceCard .serviceIntro {
  flex-basis: 50%;
  justify-content: 50%;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 1.5rem;
}
.service .secContent .serviceCard .logoDiv .logo {
  color: var(--blackColor);
  font-weight: 600;
}
.service .secContent .serviceCard .logoDiv .logo .icon {
  font-size: 25px;
  color: var(--PrimaryColor);
  margin-right: 10px;
}
.service .secContent .serviceCard .serviceParagraph {
  font-size: 25px;
  color: var(--blackColor);
}
.service .secContent .serviceCard .serviceSocials {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.service .secContent .serviceCard .serviceSocials .icon {
  color: var(--blackColor);
  font-size: 20px;
}
.service .secContent .serviceCard .serviceSocials .icon:hover {
  color: var(--PrimaryColor);
}
.service .secContent .serviceCard .serviceLinks {
  flex-basis: 50%;
  width: 100%;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}
.service .secContent .serviceCard .serviceLinks .linkGroup .groupTitle {
  display: block;
  font-weight: 600;
  color: var(--blackColor);
  margin-bottom: 0.5rem;
}
.service .secContent .serviceCard .serviceLinks .linkGroup .serviceList {
  font-size: 15px;
  color: var(--textColor);
  transition: 0.3s ease-in-out;
}
.service .secContent .serviceCard .serviceLinks .linkGroup .serviceList .icon {
  font-size: 15px;
  color: var(--greyText);
}
.service .secContent .serviceCard .serviceLinks .linkGroup .serviceList:hover {
  color: var(--PrimaryColor);
  transform: translateX(7px);
}
.service .secContent .serviceCard .serviceLinks .linkGroup .serviceList:hover .icon {
  color: var(--SecondaryColor);
}
.service .secContent .serviceCard .serviceDiv {
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--SecondaryColor);
  padding: 0.5rem 2rem;
}
.service .secContent .serviceCard .serviceDiv small {
  font-size: 10px;
  color: var(--whiteColor);
}

@media screen and (mid-width: 500px) {
  .service .secContent .serviceCard .serviceLinks {
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 1rem;
  }
  .service .secContent .serviceCard .serviceDiv {
    justify-content: space-between;
    flex-direction: row;
  }
  .service .secContent .serviceCard .serviceDiv small {
    font-size: 14px;
    color: var(--whiteColor);
  }
}
@media screen and (mid-width: 660px) {
  .service .secContent .contactDiv {
    flex-direction: row;
    justify-content: space-between;
  }
  .service .secContent .contactDiv .inputDiv {
    width: -moz-max-content;
    width: max-content;
    flex-direction: row;
    justify-content: flex-start;
  }
  .service .secContent .contactDiv .inputDiv input {
    width: 60%;
  }
  .service .secContent .contactDiv .inputDiv .btn {
    width: -moz-max-content;
    width: max-content;
  }
}
@media screen and (mid-width: 840px) {
  .service {
    padding: 5rem 0;
  }
  .service .secContent .serviceCard {
    flex-direction: row;
  }
  .service .secContent .serviceCard .serviceLinks {
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 1rem;
  }
}
@media screen and (mid-width: 1024px) {
  .service .secContent .serviceCard {
    padding: 3rem 1rem;
  }
  .service .secContent .serviceCard .serviceIntro .serviceParagraph {
    font-size: 15px;
    color: var(--textColor);
  }
  .service .secContent .serviceCard .serviceIntro .serviceSocials {
    -moz-column-gap: 0.5rem;
         column-gap: 0.5rem;
  }
  .service .secContent .serviceCard .serviceIntro .serviceSocials .icon {
    color: var(--textColor);
    font-size: 25px;
  }
  .service .secContent .serviceCard .serviceIntro .serviceSocials .icon:hover {
    color: var(--PrimaryColor);
  }
  .service .secContent .serviceCard .serviceLinks .linkGroup .serviceList {
    font-size: 16px;
    padding: 5px 0;
  }
}/*# sourceMappingURL=service3.css.map */