:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(
    to right,
    hsl(199, 100%, 33%),
    hsl(199, 100%, 33%)
  );
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
}

.contact {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.contact .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(5, 103, 130);
  top: 0;
  bottom: 0;
  z-index: 1;
  mix-blend-mode: hard-light;
}
.contact video {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.contact .contactContent {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  padding: 8rem 1.5rem 3rem;
  display: flex;
  row-gap: 3rem;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin: auto;
  color: var(--whiteColor);
  z-index: 100;
}
.contact .contactContent .textDiv {
  padding: 2rem 0;
  text-align: center;
}
.contact .contactContent .textDiv .smallText {
  font-size: 13px;
  text-transform: uppercase;
  color: var(--textColor);
}
.contact .contactContent .textDiv .contactTitle {
  position: relative;
  font-size: 3.2rem;
  text-align: center;
  transition: 2s ease;
  text-transform: uppercase;
}
.contact .contactContent .textDiv h2 {
  position: relative;
  font-size: 1.5rem;
  text-align: center;
  color: var(--blackColor);
  padding-top: 20px;
  padding-bottom: 50px;
  transition: 2s ease;
}
.contact .contactContent .textDiv p {
  position: relative;
  text-align: center;
  color: var(--whiteColorDeam);
  transition: 2s ease;
}
.contact .contactContent .cardDiv {
  position: relative;
  padding: 1rem 1rem;
  background: var(--whiteColor);
  border-radius: 5px;
  gap: 1rem;
}
.contact .contactContent .cardDiv label {
  display: block;
  color: var(--textColor);
  padding-bottom: 10px;
  font-size: 13px;
  font-weight: 500;
}
.contact .contactContent .cardDiv .label_total {
  justify-content: space-between;
  align-items: center;
}
.contact .contactContent .cardDiv .label_total .total {
  color: var(--textColor);
  font-size: 18px;
  padding-bottom: 10px;
}
.contact .contactContent .cardDiv .input {
  height: 40px;
  padding: 0 1rem;
  background: var(--inputColor);
  border-radius: 3rem;
}
.contact .contactContent .cardDiv .input input {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  font-size: 13px;
  font-weight: 100;
}
.contact .contactContent .cardDiv .input input::-moz-placeholder {
  font-size: 13px;
}
.contact .contactContent .cardDiv .input input::placeholder {
  font-size: 13px;
}
.contact .contactContent .cardDiv .input .icon {
  font-size: 18px;
  color: var(--PrimaryColor) !important;
  margin-left: 10px;
}
.contact .contactContent .cardDiv .input .input[type=range] {
  background: blue;
}
.contact .contactContent .cardDiv .searchOptions {
  position: absolute;
  background: var(--gradientColor);
  width: -moz-max-content;
  width: max-content;
  bottom: 0.7rem;
  -moz-column-gap: 0.8rem;
       column-gap: 0.8rem;
  padding: 5px 1rem;
  border-radius: 3rem;
  left: 50%;
  transform: translate(-50%);
  justify-content: center;
  cursor: pointer;
}
.contact .contactContent .cardDiv .searchOptions:hover {
  background: var(--PrimaryColor);
}
.contact .contactContent .cardDiv .searchOptions .icon {
  font-size: 18px;
}
.contact .contactContent .cardDiv .searchOptions span {
  font-size: 13px;
}
.contact .contactContent .contactFooterIcons {
  width: 100%;
  justify-content: space-between;
}
.contact .contactContent .contactFooterIcons .icon {
  font-size: 20px;
  margin: 0 5px;
  color: var(--whiteColor);
  font-weight: 600;
}
.contact .contactContent .contactFooterIcons .icon:hover {
  color: var(--PrimaryColor);
}

@media screen and (mid-width: 500px) {
  .contact .contactContent .textDiv .smallText {
    font-size: 16px;
  }
  .contact .contactContent .textDiv .contactTitle {
    position: relative;
    font-size: 2.3rem;
    width: -moz-max-content;
    width: max-content;
  }
  .contact .contactContent .textDiv .contactTitle::after {
    position: absolute;
    content: "";
    background: var(--SecondaryColor);
    height: 5px;
    width: 145px;
    right: 0px;
    bottom: 5px;
    z-index: -1;
  }
  .contact .contactContent .cardDiv {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (mid-width: 660px) {
  .contact .contactContent .cardDiv {
    padding: 2rem 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (mid-width: 940px) {
  .contact {
    height: 85vh;
  }
}
@media screen and (mid-width: 1240px) {
  .contact {
    height: 95vh;
  }
  .contact .contactContent {
    padding-left: 0;
    padding-right: 0;
  }
  .contact .contactContent .cardDiv {
    padding: 2rem 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .contact .contactContent .cardDiv .input {
    margin-bottom: 1rem;
  }
  .contact .contactContent .cardDiv .searchOptions {
    bottom: -1rem;
    padding: 8px 1rem;
  }
}