:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(
    to right,
    hsl(199, 100%, 33%),
    hsl(199, 100%, 33%)
  );
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
}

.contact {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.contact .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.65);
  top: 0;
  bottom: 0;
  z-index: 1;
  mix-blend-mode: hard-light;
}
.contact video {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.contact .contactContent {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  padding: 8rem 1.5rem 3rem;
  display: flex;
  row-gap: 3rem;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin: auto;
  color: var(--whiteColor);
  z-index: 100;
}
.contact .contactContent .textDiv {
  padding: 2rem 0;
  text-align: center;
}
.contact .contactContent .textDiv .smallText {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--textColor);
}
.contact .contactContent .textDiv .contactTitle {
  position: relative;
  font-size: 3.2rem;
  text-align: center;
  transition: 2s ease;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.contact .contactContent .textDiv h3 {
  position: relative;
  font-size: 1.8rem;
  text-align: center;
  padding: 1rem 0;
}
.contact .contactContent .textDiv h3:hover {
  color: var( --SecondaryColor);
}

.contact .contactContent .textDiv p {
  position: relative;
  margin-top: 1rem;
  text-align: center;
  color: var(--whiteColorDeam);
}

.contact .contactContent .cardDiv {
  position: relative;
  padding: 1rem 1rem;
  width: 80%;
  margin: auto;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
  gap: 1rem;
  color: var(--PrimaryColor);
}

.contact .contactContent .cardDiv .label_total {
  justify-content: space-between;
  align-items: center;
}
.contact .contactContent .cardDiv .label_total .total {
  color: var(--textColor);
  font-size: 1rem;
  padding-bottom: 1rem;
}

.contact .contactContent .cardDiv label {
  display: block;
  color: var(--textColor);
  font-size: 1rem;
  font-weight: 500;
  margin: 1rem 0 0 0;
}

.inputField input {
  width: 100%;
  padding: 0.6rem 0.7rem;
  border-radius: 3rem;
  border: 0.1rem solid var(--whiteColor);
  outline: none;
  background: transparent;
  color: var(--textColor);
}

.inputField input:hover {
  background: white;
}
.buttonField{
  display: flex;
  align-items: center;
  justify-content: center;
}

.submitBtn{
  width: 45%;
  height: 3rem;
  font-weight: 800;
  color: white;
  border: 0.1rem solid white;
  background: var(--PrimaryColor);
  border-radius: 2rem;
}

.submitBtn:hover{
  background: white;
  color: var(--PrimaryColor);
}

.contact .contactContent .cardDiv .input input::-moz-placeholder {
  font-size: 1rem;
}
.contact .contactContent .cardDiv .input input::placeholder {
  font-size: 1rem;
}
.contact .contactContent .cardDiv .input .icon {
  font-size: 1rem;
  color: var(--PrimaryColor) !important;
  margin-left: 1rem;
}
.contact .contactContent .cardDiv button{
  margin: 1rem 0;
}

@media screen and (mid-width: 500px) {
  .contact .contactContent .textDiv .smallText {
    font-size: 16px;
  }
  .contact .contactContent .textDiv .contactTitle {
    position: relative;
    font-size: 2.3rem;
    width: -moz-max-content;
    width: max-content;
  }
  .contact .contactContent .textDiv .contactTitle::after {
    position: absolute;
    content: "";
    background-color: var(--SecondaryColor);
    height: 5px;
    width: 145px;
    right: 0px;
    bottom: 5px;
    z-index: -1;
  }
  .contact .contactContent .cardDiv {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (mid-width: 660px) {
  .contact .contactContent .cardDiv {
    padding: 2rem 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (mid-width: 940px) {
  .contact {
    height: 85vh;
  }
}
@media screen and (mid-width: 1240px) {
  .contact {
    height: 95vh;
  }
  .contact .contactContent {
    padding-left: 0;
    padding-right: 0;
  }
  .contact .contactContent .cardDiv {
    padding: 2rem 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .contact .contactContent .cardDiv .input {
    margin-bottom: 1rem;
  }
}
.emailText{
  color: aquamarine;
}
.submit{
  margin: 2%;
}